#container {
    background-image: url(assets/img/football-pitch-320100_1920.jpg);
  
    position: relative;
    width: 100%;
    height: auto;
    
}

#teamA {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-size: xx-large;
}
#teamB {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-size: xx-large;
}





.team {
    text-align: center;
    margin: auto;
    font-size: xx-large;
}

p {
    color: white;
    font-size: xx-large;
    border: 3px solid #e4eff9;
}

.eksi:hover {
    font-size: 48px;
    background-color: white; 
    color: black; 
    border: 3px solid #008CBA;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.artı:hover {
    font-size: 48px;
    background-color: white; 
    color: black; 
    border: 3px solid #008CBA;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.changestill:hover {
    font-size: 17px;
    background-color: white; 
    color: black; 
    border: 3px solid #008CBA;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}